/* 
    Document   : style-perso
    Created on : 19 mai 2015, 09:03:59
    Author     : Anatole ABE
    Description:
        Purpose of the stylesheet follows.
*/

.not-active {
   pointer-events: none;
   cursor: default;
   color:#EEEEEE;
}


.badge-notify{
   background:red;
   position:relative;
   top: -10px;
   left: -10px;
}

.navbar-default{
   background:#0B0A0A;

}

.page-header{
   padding-bottom: 0px;
    margin: 15px 0px 15px 0px;
}
